<h1>編集する</h1>

<%= form_with model: @item do |f| %>
  <p>
  <%= f.label(:name, "買った物") %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :category, "カテゴリ" %>
  <%= f.text_field :category %>
  </p>
  <p>
  <%= f.label :buy_date, "買った日" %>
  <%= f.datetime_field :buy_date %>
  </p>
  <%= f.submit "更新" %>
<% end %>
 
<%= link_to "TOPページへ戻る", root_path %>